.claude/rules
.claude/skills
.codex
.DS_Store
*.tsbuildinfo
.tscache
.turbo
.nx
.vscode
build
coverage
code-coverage-results.md
dist
dist-*
node_modules
npm-debug*
out
yarn-error*
.yarnrc.local.yml

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

*storybook.log
