.idea
.DS_Store
*.tsbuildinfo
.tscache
.turbo
.vscode
build
node_modules
npm-debug*
yarn-error*

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
