name: PR Check

on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches:
      - '**'
      - '!main'

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  pr:
    name: PR Check
    runs-on: ubuntu-latest
    env:
      TURBO_CACHE_DIR: node_modules/.cache/turbo

    steps:

      # https://github.com/changesets/changesets/issues/517#issuecomment-1239303017
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Needed for Changesets to find `main` branch

      - name: Setup Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - if: ${{ github.event.pull_request.title != 'Version Packages' }}
        run: git pull --force --no-tags origin main:main

      - name: Install Dependencies
        run: yarn

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Lint
        run: yarn lint:all

      - name: Test
        run: yarn test

      # https://josh-ops.com/posts/github-code-coverage/
      - name: 'Report Coverage'
        # if: always()
        uses:  davelosert/vitest-coverage-report-action@v2

      # https://github.com/changesets/action?tab=readme-ov-file#without-publishing
      #- name: Create Release Pull Request
      #  uses: changesets/action@v1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      #- name: Check Changesets
      #  if: ${{ github.event.pull_request.title != 'Version Packages' }}
      #  run: yarn changeset status --since=main
